<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p> This website is a work in progress. If you have any queries, please contact me via email</p>
        <p> contact@hotelsavy.com</p>

        <p>{{helpText}}</p>
    </div>



    {{>footer}}
</body>

</html>