<header>
    <meta name="description"
        content="Do you know when the cheapest rates are for your hotel? If not Hotel Savy can provide the answer.">
    <meta name="keywords" content="hotel, nightly rate, price comparison, resorts, luxury, compare, search">
    <title>Hotel Savy - Compare rates for your perfect hotel</title>

    <div class="header-container">
        <div class="header-item">
            <img src="/img/logo_160px.png" style="width:4em ;height:4em">
        </div>
        <div class="header-item-center">
            <h1>{{title}}</h1>
        </div>

        <div class="header-item">
            <select id="currencySelect">
                <option value="USD">USD</option>
                <option value="GBP" selected="selected">GBP</option>
                <option value="EUR">EUR</option>
            </select>
        </div>

    </div>
    <h4>Find the best nightly rates for your perfect hotel.</h4>
    <a href="/">Hotels</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <!--<a href="/test">Test</a>-->



</header>